@using Padel.Core.Entities;
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components

<h3>Dettaglio</h3>

<EditForm Model="@Istruttore"  
          OnValidSubmit="@( () => OnSalva.InvokeAsync(Istruttore))">

    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="nome">Nome</label>
        <InputText class="form-control" id="nome" @bind-Value="Istruttore.Nome" />
        <ValidationMessage For="@(() => Istruttore.Nome)"></ValidationMessage>
    </div>

    <div class="form-group">
        <label for="cognome">Cognome</label>
        <InputText class="form-control" id="cognome" @bind-Value="Istruttore.Cognome" />
        <ValidationMessage For="@(() => Istruttore.Cognome)"></ValidationMessage>
    </div>

    <div class="form-group">
        <label for="telefono">Numero di telefono</label>
        <InputText class="form-control" id="cognome" @bind-Value="Istruttore.NumeroTelefono" />
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <InputText class="form-control" id="email" @bind-Value="Istruttore.Email" />
        <ValidationMessage For="@(() => Istruttore.Email)"></ValidationMessage>
    </div>

    <div class="form-group">
        <label for="qualifica">Qualifica</label>
        <InputText class="form-control" id="qualifica" @bind-Value="Istruttore.Qualifica" />
    </div>

    <div class="form-group">
        <label for="data">Data di assunzione</label>
        <InputDate class="form-control" id="data" @bind-Value="Istruttore.DataAssunzioneIstruttore" />
    </div>

    <div style="margin-top:10px">
        <button type="submit" class="btn btn-info">Salva</button>
        <button type="button" class="btn btn-info" @onclick="() => OnAnnulla.InvokeAsync()">Annulla</button>
    </div>

</EditForm>


@code {
    [Parameter] public IstruttorePadel Istruttore { get; set; } = new();
    [Parameter] public EventCallback OnAnnulla { get; set; }
    [Parameter] public EventCallback<IstruttorePadel> OnSalva { get; set; }
}
